
[Desktop Entry]
Name=QtMC
Comment=Media Center build using Qt
Exec=qtmc %U
Icon=qtmc
Terminal=false
Type=Application
Categories=AudioVideo
Name[en_EN]=qtmc.desktop
